body {
    margin: 0; 
}

input, select {
    padding: 10px;
    margin-right: 20px;
    font-size: 14px;
}

input {
    width: 210px;
}

#submit, #cancel {
    font-size: 14px;
    margin-right: 10px;
}

.modal {
    display: none;
    font-family: sans-serif;
    border: 3px solid #f1f1f1;
    padding: 15px 0px;
    color: #4b382a;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    justify-content: center;
}

#addBtn:hover, #addBtn:focus {
    cursor: pointer;
}

.header {
    display: flex;
    background-color: #f4f1eb;
    height: 100px;
    border-bottom: 3px solid #f1f1f1;
    align-items: center;
    justify-content: space-around;
}

#logo {
    height: 70px;
    margin-top: 5px;
}

#addBtn {
    height: 60px;
    margin-top: 5px;
}

table {
    font-family: sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    padding: 20px;
}