body {
    margin: 0; 
    padding: 0;
}

.modal {
    display: none;
    font-family: sans-serif;
}

.modal-content{
    display: flex;
    padding: 20px;
    border: 3px solid #f1f1f1;
    width: 100%; /* Could be more or less, depending on screen size */
}


.close {
    font-size: 20px;
}

.close:hover, .close:focus {
    cursor: pointer;
}

.header {
    display: flex;
    background-color: #f4f1eb;
    height: 50px;
    border-bottom: 3px solid #f1f1f1;
    align-items: center;
}

#searchbar {
    padding: 5px;
    width: 200px;
}

img {
    height: 30px;
    margin-top: 5px;
    margin-left: 35px;
    margin-right: 400px;
}
